<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="badhabits.css">
    <title>Healthy Recipes</title>
</head>
<body>

        <ul class="ul">
                <li class="li" id="header-page">Changes</li>
                <li class="li" id="header-page1"  >Big</div>  
                    <li class="li"><a href="/welcome">Home</a></li>
                    <li class="li"><a href="/active">Being Actitve</a></li>
                    <li class="li"><a href="/recipes">Bad Habits</a></li>
        </ul>     
            
 <div class="all-header">               
        <h1 class="title">Here goes the title</h1>

      
    

 <div class="all-li">
   <h2 style="text-align: center; font-size: 240%; color: rgb(255, 255, 255);">Contents</h2>
   <ol style="font-size: 180%;">
       <li><a class="recipes-list" href="#section1">Vegan Recipe</a></li>
       <li><a class="recipes-list" href="#section2">Mediterranean Recipe</a></li>
       <li><a class="recipes-list" href="#section3">Vegan Recipe</a></li>
       <li><a class="recipes-list" href="#section4">Mediterranean Recipe</a></li>
   </ol>
 </div>
</div>
<div id="section1" class="all-sections">
    <h1 style="font-size: 250%;">Benefits</h1>
    <div class="recipe-description">
     
     <img src="benef4.jpg" alt="imag" class="imag">
     
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti error eaque asperiores odio, magni quos. Suscipit maxime ducimus nam debitis laborum cumque repellat ipsam velit excepturi explicabo, ratione odio cum temporibus quis aperiam soluta, inventore quae quas itaque quod sunt illo unde sint. Velit non nisi temporibus illum ex, maxime, aspernatur adipisci, vel veniam in quisquam explicabo possimus animi tempora aliquam necessitatibus iure tempore corrupti. Laboriosam aspernatur a quia tenetur accusantium impedit ex voluptatibus, eos fugiat, eveniet, et deserunt ut maxime quibusdam incidunt est dicta necessitatibus rerum iste quo? Optio, assumenda officiis. Nesciunt optio doloremque obcaecati in quo architecto. Perspiciatis.
     </p>
    </div> 
    <h2>Other facts</h2>
 </div>
 
 <div id="section2" class="all-sections" style="background-color: rgb(255, 255, 255);">
    <h1 style="font-size: 250%;">Benefits</h1>
    <div class="recipe-description">
     
     <img src="benef2.jpg" alt="imag" class="imag">
     
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti error eaque asperiores odio, magni quos. Suscipit maxime ducimus nam debitis laborum cumque repellat ipsam velit excepturi explicabo, ratione odio cum temporibus quis aperiam soluta, inventore quae quas itaque quod sunt illo unde sint. Velit non nisi temporibus illum ex, maxime, aspernatur adipisci, vel veniam in quisquam explicabo possimus animi tempora aliquam necessitatibus iure tempore corrupti. Laboriosam aspernatur a quia tenetur accusantium impedit ex voluptatibus, eos fugiat, eveniet, et deserunt ut maxime quibusdam incidunt est dicta necessitatibus rerum iste quo? Optio, assumenda officiis. Nesciunt optio doloremque obcaecati in quo architecto. Perspiciatis.
     </p>
    </div> 
    <h2>Other Facts</h2>

 </div>
 <div id="section3" class="all-sections">
        <h1 style="font-size: 250%;">Benefits</h1>
        <div class="recipe-description">
         
         <img src="benef3.jpg" alt="imag" class="imag">
         
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti error eaque asperiores odio, magni quos. Suscipit maxime ducimus nam debitis laborum cumque repellat ipsam velit excepturi explicabo, ratione odio cum temporibus quis aperiam soluta, inventore quae quas itaque quod sunt illo unde sint. Velit non nisi temporibus illum ex, maxime, aspernatur adipisci, vel veniam in quisquam explicabo possimus animi tempora aliquam necessitatibus iure tempore corrupti. Laboriosam aspernatur a quia tenetur accusantium impedit ex voluptatibus, eos fugiat, eveniet, et deserunt ut maxime quibusdam incidunt est dicta necessitatibus rerum iste quo? Optio, assumenda officiis. Nesciunt optio doloremque obcaecati in quo architecto. Perspiciatis.
         </p>
        </div> 
        <h2>Other facts</h2>
     </div>
     
     <div id="section4" class="all-sections" style="background-color: rgb(255, 255, 255);">
        <h1 style="font-size: 250%;">Benefits</h1>
        <div class="recipe-description">
         
         <img src="benef.jpg" alt="imag" class="imag">
         
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti error eaque asperiores odio, magni quos. Suscipit maxime ducimus nam debitis laborum cumque repellat ipsam velit excepturi explicabo, ratione odio cum temporibus quis aperiam soluta, inventore quae quas itaque quod sunt illo unde sint. Velit non nisi temporibus illum ex, maxime, aspernatur adipisci, vel veniam in quisquam explicabo possimus animi tempora aliquam necessitatibus iure tempore corrupti. Laboriosam aspernatur a quia tenetur accusantium impedit ex voluptatibus, eos fugiat, eveniet, et deserunt ut maxime quibusdam incidunt est dicta necessitatibus rerum iste quo? Optio, assumenda officiis. Nesciunt optio doloremque obcaecati in quo architecto. Perspiciatis.
         </p>
        </div> 
        <h2>Other Facts</h2>
    
     </div>
 </div> 
 
 <hr class="flooter-line">
      
            <div id="flooter" class="inform">
                <h3>© 2019 placeholder Inc. All rights reserved.</h3>
                <li id="logo" class="logo-flooter">CARL Developer</li>  
            </div>
​
</body>
</html>