<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="badhabits.css">
    <title>Bad Habits</title>
</head>
<body>

        <ul class="ul">
                <li class="li" id="header-page">Habits</li>
                <li class="li" id="header-page1"  >Bad</div>  
                    <li class="li"><a href="/welcome">Home</a></li>
                    <li class="li"><a href="/active">Being Actitve</a></li>
                    <li class="li"><a href="/recipes">Bad Habits</a></li>
        </ul>     
            
 <div class="all-header">               
        <h1 class="title">Bad Habits</h1>


 <div class="all-li">
   <h2 style="text-align: center; font-size: 240%; color: rgb(255, 255, 255);">Contents</h2>
   <ol style="font-size: 180%;">
       <li><a class="recipes-list" href="#section1">What is a bad habit?</a></li>
       <li><a class="recipes-list" href="#section2">Obesity</a></li>
       <li><a class="recipes-list" href="#section3">Cardiovascular Health</a></li>
       <li><a class="recipes-list" href="#section4">Water and food</a></li>
   </ol>
 </div>
</div>
<div id="section1" class="all-sections">
    <h1 style="font-size: 250%;">What is a bad habit?</h1>
    <div class="recipe-description">
     
     <img src="benef4.jpg" alt="imag" class="imag">
     
     <p> A Bad Habit is a negative behaviour pattern. Common Examples include: Eating Junk Food 24/7, Dessert, Being Lazy, Etc.
        Prevention: The best time to correct a bad habit is immediately, before it becomes established. So, bad habits are best prevented from developing in childhood.
     </p>
    </div>
 </div>
 
 <div id="section2" class="all-sections" style="background-color: rgb(255, 255, 255);">
    <h1 style="font-size: 250%;">Obesity</h1>
    <div class="recipe-description">
     
     <img src="benef2.jpg" alt="imag" class="imag">
     
     <p>Obesity: An Estimated 160 million Americans are either obese or overweight. Nearly three quarters of American men and more than 60% of women are obese or overweight. These are also major challenges for America's children-nearly 30% of boys and girls under age 20 are either obese or overweight.
            Cure: Eat Healthy & Workout Continuesly
     </p>
    </div>

 </div>
 <div id="section3" class="all-sections">
        <h1 style="font-size: 250%;">Cardiovascular Health</h1>
        <div class="recipe-description">
         
         <img src="benef3.jpg" alt="imag" class="imag">
         
         <p>Cardiovascular Disease:Generally refers to conditions that involve narrowed or blocked blood vessels that can lead to a heart attack or even chest pain.
            Cure: Eat low-fat and low-sodium diet, Get at least 30 minutes of moderate exercise on most days of the week, quitting smoking , & limiting your Big Meals.
         </p>
        </div> 
     </div>
     
     <div id="section4" class="all-sections" style="background-color: rgb(255, 255, 255);">
        <h1 style="font-size: 250%;">Water and Food</h1>
        <div class="recipe-description">
         
         <img src="benef.jpg" alt="imag" class="imag">
         
         <p> Not Drinking enough water: Your Body needs water for every function it performs. Dehydration is the term for your body's reaction when you don't drink enough water, resulting in a fluid deficiency.
            Cure: Drink more water!!! Drink at least 20+ cups a day. More the better.
        Skipping Breakfast: Has been linked to elevated blood pressure, higher levels of total and low-density lipoprotein cholesterol - known as bad cholesterol.
            Cure: Don't Skip Breakfast! Be sure to eat really well and make sure you eat a good breakfast don't overkill with your meal.  
         </p>
        </div> 
    
     </div>
 </div> 
 
 <hr class="flooter-line">
      
            <div id="flooter" class="inform">
                <h3>© 2019 placeholder Inc. All rights reserved.</h3>
                <li id="logo" class="logo-flooter">CARL Developer</li>  
            </div>
​
</body>
</html>