<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="active.css">
    <title>Being Active</title>
</head>
<body>

   
        <ul class="ul" >
                <li class="li" id="header-page">Active</li>
                <li class="li" id="header-page1"  >Being</div>  
                <li class="li"><a href="/welcome">Home</a></li>
                <li class="li"><a href="/recipes">Healthy Recipes</a></li>
                <li class="li"><a href="/">Find Places</a></li>
        </ul>
      <div id="top" >    
    </div>        
 <div class="all-header">               
        <h1 class="title">Being Active</h1>

      
    

 <div class="all-li">
   <h2 style="text-align: center; font-size: 240%; color: rgb(255, 255, 255);">Contents</h2>
   <ol style="font-size: 180%;">
       <li><a class="recipes-list" href="#section1">Introduction</a></li>
       <li><a class="recipes-list" href="#section2">Aerobic Workouts</a></li>
       <li><a class="recipes-list" href="#section3">Meditation</a></li>
       <li><a class="recipes-list" href="#section4">Stress Relief</a></li>
       <li><a class="recipes-list" href="#section5">Recomended Gyms</a></li>
   </ol>
 </div>
</div>
<div id="section1" class="all-sections">
    <h1 style="font-size: 250%;">Introduction</h1>
    <div class="recipe-description">
     
     <img src="benef4.jpg" alt="imag" class="imag">

     <p>Being active can be an effective way to maintain your physical and mental health. Physical activity doesn't have to be exercise. It could be anything you do in your day-to-day life - like running errands or doing housework.
Prevention: Being active can give you more energy, improve your posture and balance, Helps you stay at a healthy weight, & make you feel better about yourself. <br>Why we take care of our body eating healthy meals: Your first meal of the day is an important one. Starting your day with a healthy meal can help replenish your blood sugar, which your body needs to power your muscles and brain.
Prevention: Always eat a good Meal for Breakfast,Lunch,& Dinner. Please Healthy Meals!!! Don't Forget.
     </p>
    </div> 
    <li><a class="recipes-list" href="#top">Back Up</a></li>
 </div>
 
 <div id="section2" class="all-sections" style="background-color: rgb(255, 255, 255);">
    <h1 style="font-size: 250%;">Aerobic Workouts</h1>
    <div class="recipe-description">
     
     <img src="benef2.jpg" alt="imag" class="imag">
     
     <p>Relating to or denoting exercise that improves or is intended to improve the efficiency of the body's cardiovascular system in absorbing and transporting oxygen.
        Prevention: Aerobic exercises include cardio machines, spinning, running, swimming, walking, hiking, & many more.
     </p>
    </div> 
    <li><a class="recipes-list" href="#top">Back Up</a></li>
 </div>
 <div id="section3" class="all-sections">
        <h1 style="font-size: 250%;">Meditation Benefits</h1>
        <div class="recipe-description">
         
         <img src="benef3.jpg" alt="imag" class="imag">
         
         <p>The Action or Practice of meditating.
            Helps you stay focused while in the means of inhale and exhaling. Relaxes your body and Clears your Mind. You can Meditate in a really quiet place or even before a stressful Test You have been nervous  about for weeks.
         </p>
        </div> 

        <li><a class="recipes-list" href="#top">Back Up</a></li>
     </div>
     
     <div id="section4" class="all-sections" style="background-color: rgb(255, 255, 255);">
        <h1 style="font-size: 250%;">Stress Relief</h1>
        <div class="recipe-description">
         
         <img src="benef.jpg" alt="imag" class="imag">
         
         <p>Exercise away stress: Stress is a state of mental or emotional strain or tension resulting from adverse or very demanding circumstances.
            Prevention: If you are ever stressful be sure to workout. Exercising away your stress can be good both ways. Your letting out your anger and exercising your body.
         </p>
        </div> 

        <li><a class="recipes-list" href="#top">Back Up</a></li>
     </div>
 
<h1 id="section5">Best Gym Membership Offers Just For Our Users</h1>

 <div class="all-cards">
     <div class="card">
            <img src="gym.jpg" alt="Denim Jeans" style="width:100%">
            <h1>PLanet Fitnes</h1>
            <p class="price">$19.99/moth</p>
            <p>Some text about the gyn..</p>
            <p><button>Start Membreship</button></p>
    </div>
    <div class="card">
            <img src="gym2.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Fitnes</h1>
            <p class="price">$15.99/moth</p>
            <p>Some text about the gyn..</p>
            <p><button>Start Membreship</button></p>
    </div>
    <div class="card">
            <a href="https://www.planetfitness.com/gyms/orlando-belle-isle-fl/offers?gclid=Cj0KCQiAq97uBRCwARIsADTziybABD4q_IFas3dsD7yKPI3Be5GceSaSAppLWsNqANSizCOlMacTyv8aAmifEALw_wcB"><img src="gym3.jpg" alt="Denim Jeans" style="width:100%"></a>
            <h1>PLanet Fitnes</h1>
            <p class="price">$25.00/moth</p>
            <p>Some text about the gyn..</p>
            <p><button>Start Membreship</button></p>
    </div>

    <li><a class="recipes-list" href="#top" style="color: black;">Back Up</a></li>

 </div>
 
 <hr class="flooter-line">
      
            <div id="flooter" class="inform">
                <h3>© 2019 placeholder Inc. All rights reserved.</h3>
                <li id="logo" class="logo-flooter">CARL Developer</li>  
            </div>
​
</body>
</html>