<!DOCTYPE html>
<html lang="en">
  ​
  <head>
    <title>Log In</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="login.css" />
  </head>
  ​
  <body>
    <div class="container">
      <img src="/sing-inl.png" alt="" />
      <h1 class="title">Log In</h1>

      <form class="login" action="/user/login" method="POST">
        <input
          type="email"
          name="email"
          id="email-input"
          placeholder="Email"
          class="input"
        />
        <br />

        <input
          type="password"
          name="password"
          id="password-input"
          placeholder="Password"
          class="input"
        />
        <br />
        <button class="button" type="submit">Login</button>
      </form>
      <br />
      <div class="all-Or">
        <p>Or sign up <a class="or" href="/signup">here</a></p>
      </div>
    </div>

    ​
  </body>
  ​
</html>
