<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="recipes.css">
    <title>Healthy Recipes</title>
</head>
<body>
<<<<<<< HEAD

=======
       
>>>>>>> a533a024e300735dde2ee5c8a0ba34ed72446c79
        <ul class="ul">
                <li class="li" id="header-page">Recipes</li>
                <li class="li" id="header-page1" style="color: brown;" >Healthy</div>  
                <li class="li"><a href="#home">Home</a></li>
                <li class="li"><a href="#news">News</a></li>
                <li class="li"><a href="/singIn">Main Page</a></li>
        </ul>     
            
 <div class="all-header">               
        <h1 class="title">Here goes the title</h1>

      
    

 <div class="all-li">
   <h2 style="text-align: center; font-size: 240%; color: rgb(0, 0, 0);">Contents</h2>
   <ol style="font-size: 180%;">
       <li><a class="recipes-list" href="#section1">Fish Mappas</a></li>
       <li><a class="recipes-list" href="#section2">Spinach Miso Holiday Salad Wreath</a></li>
       <li><a class="recipes-list" href="#section3">Farro and Tomato Salad</a></li>
       <li><a class="recipes-list" href="#section4">Garlic Tuscan Chicken</a></li>
       <li><a class="recipes-list" href="#section5">Grilled Pork Chops with Fresh Nectarine Salsa</a></li>
       <li><a class="recipes-list" href="#section6">Mediterranean Recipe</a></li>
       <li><a class="recipes-list" href="#section7">Vegan Recipe</a></li>
       <li><a class="recipes-list" href="#section8">Mediterranean Recipe</a></li>
       <li><a class="recipes-list" href="#section9">Vegan Recipe</a></li>
       <li><a class="recipes-list" href="#section10">Mediterranean Recipe</a></li>
       
   </ol>
   <a href="/addRecipe" class="button">Add Recipe</a>

 </div>
</div>
<div id="section1" class="all-sections">
    <h1 style="font-size: 250%;">Fish Mappas</h1>
    <div class="recipe-description">
     
     <img src="fish-mappas.jpg" alt="imag" class="imag">
     <h2>Diet:Pescatarian</h2>
     <p> Put a large saucepan of water on to boil and cook the rice following pack instructions.
        Meanwhile, heat the oil in a large, wide saucepan over a medium heat and add the onions.
        Cook for 5-10 mins until softened and starting to colour.
        Add the garlic and tomatoes, and fry for 2 mins.
        Add the curry paste, fry for 2 mins more, then pour in the coconut milk and bring to the boil.
        Add the fish to the pan and simmer gently for 5-8 mins until just cooked through.
        Turn off the heat. 
        Sprinkle the coriander over the curry and serve with the rice.</p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>300g basmati rice</li>
        <li>1 tbsp sunflower or vegatable oil</li>
        <li>2 large onions, sliced</li>
        <li>2 garlic cloves, chopped</li>
        <li>450g tomatoes, cut into chunks</li>
        <li>3tbsp tikka curry paste</li>
        <li>400g can coconut milk</li>
        <li>4 skinless, boneless pollock fillets (about 150g/5½ oz each), or other sustainable white fish, cut into 4cm/1½ in chunks
        </li>
        <li>½ small pack coriander, roughly chopped
        </li>
    </ol>
   
 </div>
 
 <div id="section2" class="all-sections" style="background-color: rgb(255, 255, 255);">
    <h1 style="font-size: 250%;">Spinach Miso Holiday Salad Wreath</h1>
    <div class="recipe-description">
     
     <img src="Wreath.jpg" alt="imag" class="imag">
     <h2>Diet:Vegan</h2>
     <p> In a large bowl, combine all DOLE® Spinach Miso Crunch Kit ingredients
    
    Place a 4-inch bowl upside-down in the center of a larger round serving platter.
    Using the small bowl as a guide, neatly arrange salad in a wreath form around the bowl.
    Fan 3 to 4 pear slices at 5 equal spots around the wreath.
    Place 4 to 5 grapes in-between.
    Top salad with freshly-ground black pepper, if desired.
    Carefully remove the bowl from center. 
    Serve with baguettes, if desired.</p>
    </div>
    <h2>Ingredients</h2>
    
    <ol>
        <li>1 package DOLE® Spinach Miso Crunch Kit
        </li>
        <li>1 Bosc pear, washed, skin-on, cut into thin slices</li>
        <li>1 cup whole red seedless grapes
        </li>
        <li>Salt and freshly-ground pepper to taste</li>
        <li>4 crusty baguettes (optional)</li>
    </ol>
    
 </div>
 
 <div id="section3" class="all-sections">
    <h1 style="font-size: 250%;">Farro and Tomato Salad</h1>
    <div class="recipe-description">
     
     <img src="Farro.jpg" alt="imag" class="imag">
     <h2>Diet:Vegetarian</h2>
     <p>Stir together water, farro and salt in medium saucepan. 
        Bring to a boil. 
        Cover; reduce heat to medium-low and simmer 20 minutes or until farro is tender. 
        Drain.Whisk together oil, vinegar and garlic in medium bowl. 
        Stir in tomatoes, arugula and cooked farro. 
        Sprinkle with cheese. 
        Serve immediately.</p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>1 tablespoon extra virgin olive oil
        </li>
        <li>1 tablespoon balsamic vinegar
        </li>
        <li>1 small clove garlic, finely chopped
        </li>
        <li>3 cups water
        </li>
        <li>1 cup pearled farro, uncooked
        </li>
        <li>1 teaspoon salt
        </li>
        <li>1 can (14.5 oz each) Hunt's® Petite Diced Tomatoes, drained
        </li>
        <li>1 cup chopped arugula
        </li>
        <li>1/3 cup crumbled feta cheese
        </li>
    </ol>
    
 </div>
 
 <div id="section4" class="all-sections"style="background-color: rgb(255, 255, 255);" >
    <h1 style="font-size: 250%;">Garlic Tuscan Chicken</h1>
    <div class="recipe-description">
     
     <img src="Tuscan.jpg" alt="imag" class="imag">
     <h2>Diet:Ketogenic</h2>
     <p> Heat olive oil in a large skillet over medium-high heat. 
        Cook chicken until browned and no longer pink in the center, 3 to 5 minutes per side. 
        Remove chicken and set aside on a plate.
        Add heavy cream, chicken broth, Parmesan cheese, garlic powder, and Italian seasoning to the skillet. 
        Whisk sauce over medium-high heat until starting to thicken, about 5 minutes. 
        Add spinach and sun-dried tomatoes; simmer until spinach starts to wilt, about 1 minute. 
        Return chicken to the skillet and cook until heated through, 2 to 3 minutes.</p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>2 tablespoons olive oil </li>
        <li>1 ½ pounds skinless, boneless chicken breasts, thinly sliced
        </li>
        <li>1 cup heavy cream
        </li>
        <li>½ cup chicken broth</li>
        <li>½ cup grated Parmesan cheese</li>
        <li>1 teaspoon garlic powder
        </li>
        <li>1 teaspoon Italian seasoning
        </li>
        <li>1 cup spinach, chopped
        </li>
        <li>½ cup chopped sun-dried Tomatoes
        </li>


    </ol>
    
 </div>

 <div id="section4" class="all-sections"style="background-color: rgb(255, 255, 255);" >
    <h1 style="font-size: 250%;">Grilled Pork Chops with Fresh Nectarine salsa</h1>
    <div class="recipe-description">
     
     <img src="Pork chop.jpg" alt="imag" class="imag">
     <h2>Diet:Low-Sodium</h2>
     <p> Preheat an outdoor grill for medium-high heat.
        Lightly oil grate, and set 4 inches from the heat.
        To make the salsa, place the nectarines, tomato, onion, cilantro, lime juice, and red pepper flakes in a bowl; toss to blend. 
        Season to taste with salt.
        Cover, and refrigerate for 30 minutes to blend flavors. 
        Stir the cumin, chili powder, salt, and pepper together in a small bowl. 
        Place the olive oil in a small bowl. 
        Brush the pork chops with oil, and season both sides evenly with the cumin mixture.
        Place pork loin chops on the preheated grill. 
        Cook until lightly browned and juices run clear, about 4 minutes on each side. 
        Place pork chops on serving plates, and top with a generous spoonful of salsa.
       </p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>2 nectarines, pitted and diced
        </li>
        <li>1 ripe tomato, seeded and diced
        </li>
        <li>1/4 cup diced onion</li>
        <li>2 tablespoons chopped fresh cilantro
        </li>
        <li>2 tablespoons fresh lime juice
        </li>
        <li>1/4 teaspoon crushed red pepper flakes, or to taste
        </li>
        <li>salt to taste
        </li>
        <li>1 teaspoon ground cumin
        </li>
        <li>1 teaspoon chili powder
        </li>
        <li>salt and ground black pepper to taste
        </li>
        <li>2 tablespoons olive oil
        </li>
        <li>8 (4 ounce) boneless pork loin chops</li>


    </ol>
    
 </div>


 <div id="section4" class="all-sections"style="background-color: rgb(255, 255, 255);" >
    <h1 style="font-size: 250%;">Rickshaw Salad</h1>
    <div class="recipe-description">
     
     <img src=".jpg" alt="imag" class="imag">
     <h2>Diet:Gluten-Free</h2>
     <p>In a bowl, toss together cabbage, carrots, scallions, and mint leaves.
        In a small bowl, whisk together vinegar, honey and oil. Drizzle over cabbage mixture and toss to coat. Let stand 10 minutes, tossing occasionally.
        Divide cabbage mixture evenly between 4 salad bowls and top each salad with 3 chicken tenders and serve.
        </p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>12 Pieces Breaded Chicken Breast Tenders, Gluten Free (22oz.)
        </li>
        <li>Gluten Free Breaded Chicken Breast Tenders (11.2oz.)</li>
        <li>3 cups shredded Nappa cabbage
        </li>
        <li>2 cups shredded carrots
        </li>
        <li>1 cup sliced scallions
        </li>
        <li>¼ cup rice wine vinegar
        </li>
        <li>2 tbsp Honey</li>
        <li>2 tbsp dark sesame oil
        </li>
        


    </ol>
    
 </div>

 <div id="section4" class="all-sections"style="background-color: rgb(255, 255, 255);" >
    <h1 style="font-size: 250%;">Roasted Parsnips</h1>
    <div class="recipe-description">
     
     <img src=".jpg" alt="imag" class="imag">
     <h2>Diet:Paleolithic</h2>
     <p>Preheat oven to 425°. Spread parsnips on 2 large baking sheets, being sure to not overcrowd. Drizzle with olive oil and season with oregano, salt, pepper, and red pepper flakes. Toss to evenly coat. Roast until golden and easily pierced with a knife, about 30 minutes, tossing once halfway through.
    </p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>2 lb. parsnips, peeled and cut into 2" pieces
        </li>
        <li>2 tbsp. extra-virgin olive oil
        </li>
        <li>1 tsp. dried oregano
        </li>
        <li>Kosher salt
        </li>
        <li>Freshly ground black pepper
        </li>
        <li>Pinch of crushed red pepper flakes
        </li>
      


    </ol>
  
 </div>

 <div id="section4" class="all-sections"style="background-color: rgb(255, 255, 255);" >
    <h1 style="font-size: 250%;">Black Beans & Brown Rice Extravaganza</h1>
    <div class="recipe-description">
     
     <img src=".jpg" alt="imag" class="imag">
     <h2>Diet:Rice</h2>
     <p>Heat the beans with water, Bragg’s, and chili powder.
        Chop vegetables and place in individual bowls.
        To serve, place several big spoonfuls of brown rice onto large plates and ladle beans on top.
        Add generous handfuls of chopped vegetables on top of the beans.
        Add salsa or tamari to taste.Serving Size: 3-4 (1 cup per serving)
        </p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>2 cans Black Beans, rinsed and drained
        </li>
        <li>1 cup Water or Vegetable stock
        </li>
        <li></li>
        <li>1 tablespoon Bragg Liquid Aminos</li>
        <li>1 teaspoon red chili powder
        </li>
        <li>2 to 3 tomatoes, chopped
        </li>
        <li>1 bunch green onions, chopped
        </li>
        <li>1 can water chestnuts, drained
        </li>
        <li>1 cup corn: fresh, frozen, or canned</li>
        <li>2 red, yellow, or green bell peppers, seeded and chopped</li>
        <li>1 bunch cilantro, rinsed and chopped</li>
        <li>1 avocado, peeled and sliced
        </li>
        <li>3 cups cooked brown rice
        </li>
        <li>Salsa or tamari, to taste
        </li>

    </ol>
    
 </div>

 <div id="section4" class="all-sections"style="background-color: rgb(255, 255, 255);" >
    <h1 style="font-size: 250%;">Greek Tofu Scramble</h1>
    <div class="recipe-description">
     
     <img src=".jpg" alt="imag" class="imag">
     <h2>Diet:Mediterranean</h2>
     <p> In a small bowl crumble tofu to the texture of scrambled eggs. Add nutritional yeast, tahini, lemon juice, and salt and set aside.In a large skillet heat oil over medium heat. Add onions and sauté for 5 minutes, stirring occasionally. Add bell pepper and garlic and sauté for another 5 minutes until the bell pepper is tender.Stir crumbled tofu and Kalamata olives. Heat all the way through, stirring occasionally. Add spinach and basil and stir until spinach has wilted slightly, reducing to about half its size. Remove from heat and stir in cherry tomatoes. Season with salt and pepper. Divide onto 2 plates and serve immediately. 
    </p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>8 ounces firm tofu</li>
        <li>2 tbsp nutritional yeast
        </li>
        <li>1 tsp tahini paste
        </li>
        <li>juice of 1/2 lemon
        </li>
        <li>1/4 tsp salt
        </li>
        <li>1 tbsp oil
        </li>
        <li>1/4 small red onion, diced
        </li>
        <li>2 cloves garlic, minced
        </li>
        <li>1/2 cup red bell pepper, diced
        </li>
        <li>1/4 cup Kalamata olives, pitted and halved</li>
        <li>1 handful fresh spinach</li>
        <li>1/4 cup fresh basil, chopped
        </li>
        <li>1/2 cup cherry tomatoes, halved
        </li>
        <li>salt and pepper, to taste
        </li>


    </ol>
    
 </div>

 <div id="section4" class="all-sections"style="background-color: rgb(255, 255, 255);" >
    <h1 style="font-size: 250%;">Buffalo-Style Cauliflower Salad</h1>
    <div class="recipe-description">
     
     <img src=".jpg" alt="imag" class="imag">
     <h2>Diet:Low-Calorie</h2>
     <p>Preheat oven to 400 degrees.
        In a bowl, mix water, olive oil and salt. Add the cauliflower and toss until well coated. Spread the cauliflower on a rimmed baking sheet and roast for 20 minutes.
        Remove the cauliflower and drizzle the hot sauce over it, then roast another 5 minutes, until sauce is bubbling. Remove from the oven and allow to cool.
        </p>
    </div> 
    <h2>Ingredients</h2>
    <ol>
        <li>Fresh Express Iceberg Garden
        </li>
        <li>4 cups cauliflower florets</li>
        <li>1/4 cup water
        </li>
        <li>2 Tablespoons extra virgin olive oil</li>
        <li>1/4 cup hot sauce</li>
        <li>2 celery stalks, trimmed and thinly sliced</li>
        <li>4 ounces crumbled blue cheese
        </li>
        <li>1/2 teaspoon kosher salt
        </li>
        


    </ol>
    
 </div>
 <hr class="flooter-line">
      
            <div id="flooter" class="inform">
                <h3>© 2019 placeholder Inc. All rights reserved.</h3>
                <li id="logo" class="logo-flooter">CARL Developer</li>  
            </div>
​   
</body>
</html>