<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="sing-in.css">
        <title>Document</title>
        
    
    </head>
    <body>
    
     <div class="container">
        <img src="/sing-inl.png" alt="">
        <h1 class="title">Sign In</h1>
  <form action="/user/signup" method="POST">
    
        <input
                name="name"
                type="text"
                class="form-control"
                id="email-input"
                placeholder="enter name"
              /><br>
        <input class="input" type="text" name="userlastname" placeholder="Last Name"><br>

        <input
                name="email"
                type="email"
                class="form-control"
                id="email-input"
                placeholder="Email"
        />
            
        <input
                type="password"
                name="password"
                class="form-control"
                id="password-input"
                placeholder="Password"
        /><br>
        <input class="input" type="text" name="userPhone" placeholder="Phone Number"><br>
        <input class="input" type="email" name="userPhone" placeholder="Email"><br>
        <input class="input" type="text" name="userPhone" placeholder="Direction"><br>
        <input class="input" type="text" name="userPhone" placeholder="Srate"><br>
        <input class="input" type="country" name="userPhone" placeholder="Coutry"><br>
         <button type="submit" class="button" class="btn btn-default">Sign Up</button>
 
  
          
              
            
            
              
      </form>
  </div>
        
           
        
          <p>Or log in <a href="/user/login">here</a></p>
       
  </body>
  ​
</html>
