<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sing/in</title>
    <link rel="stylesheet" href="sing-in1.css">
</head>
<body>
<div class="container">
  <div class="container2">
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia enim, quis at sint minus consectetur nisi possimus sunt non animi. Quod eaque repellat necessitatibus sapiente possimus nobis, mollitia sed quam eveniet omnis suscipit autem repudiandae animi iure perferendis obcaecati voluptatum!</h1>
    <li><a href="/forms">Sign In</a></li>
  </div>
</div>
</body>
</html>