<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>sing/in</title>
    <link rel="stylesheet" href="/sing-in1.css" />
  </head>
  <body>
    <div class="container">
      <div class="container2">
        <h1>
          Welcome to a fresh new way of life. This application is geared towards
          improving the overall health of our users with healthy tips and
          advice. We want to help you find healthy recipes for your specific
          diet and break down how to create each dish. Start changing your life
          today.
        </h1>

        <ul id="botton">
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
